/* The Modal (background) */
.modal, .modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.center
{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#myBtn
{
    font-size:20px;
    padding:5px 10px;
    margin-top: 20px;
    cursor:pointer;
}

.fields
{
    line-height: 2.6;
}

label
{
    float: left;
    margin-left: 20rem;
}

input
{
    float: left;
    margin-left: 3rem;
    margin-top: 7px;
}


#date
{
    margin-left: 3.57rem;

}

#idCard
{
    display: none;
    border: 5px dashed rgb(5, 2, 51);
    width: 30%;
    border-radius: 30px;
}

#labelType
{
    float: left;
    margin-left: 3.2rem;
    margin-top: 0.7rem;
}


